<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>쿠키 회원가입</title>
</head>
<body>
<h1>쿠키 가입</h1>

<form action="/login-cookie" method="post">
    <label for="username">사용자 이름:</label>
    <input type="text" id="username" name="username" required />
    <label for="username">아이디:</label>
    <input type="text" id="userid" name="userid" required />
    <label for="username">비밀번호:</label>
    <input type="text" id="userpassword" name="userpassword" required />
    <button type="submit">회원가입</button>
</form>


</body>
</html>